

<div class="navbar">
  <a style="display: flex; align-items: center;" href="/" class="navbar-brand"><span style="font-size: 100px; color: orange;position: absolute;">X</span> <span style="position: absolute; left: 100px; ">Plora</span></a>
  <!-- <button class="navbar-toggle"  (click)="toggleNavbar()">&#9776;</button> -->
  <div class="navbar-links"  id="navbar-links">
    <a href="/">Home</a>
    <a href="/destinations">Destinations</a>
    <!-- <a (click)="navigateToAdmin()">Add</a> -->
    <a href="/about">About</a>
    <a href="/contacts">Contact</a>
  </div>
  <div class="signup-login">
    <a href="/signup">Signup</a>
    <a href="auth/login">Login</a>
  </div>
</div>


