


<div>


 <div class="home">
  <app-navbar></app-navbar>
  <div class="hometext">
  <h3>Premium Mombasa Package</h3>
   <p> We are the gates To Popular destinations, Tours and travels in KENYA</p> <br><br>
    <button class="homebook">Book</button>
  </div>

<!-- end of part with homepage background -->
 </div>

 <div class="popularDestinations">
  <h2 class="dst">Popular Destinations</h2>
  <div class="container">
    <div class="tour-card">
      <img src="https://tour.epesicloud.com/app/storage/uploads/37/1685002206_34_Leopard_on_tree_Bonfire_Adventures.jpg" alt="Tour 1">
      <div class="tour-info">
        <h3>Maasai mara </h3>
        <p>Info about Tour 1</p>
        <p>Location: Location 1</p>
        <p>Price: $100</p>
        <button>Book</button>
      </div>
    </div>

    <div class="tour-card">
      <img src="https://tour.epesicloud.com/app/storage/uploads/37/1686211321_48_Wildebeest_migration_with_Bonfire_Adventures.jpg" alt="Tour 2">
      <div class="tour-info">
        <h3>Wildebeest migration </h3>
        <p>Info about Tour 2</p>
        <p>Location: Location 2</p>
        <p>Price: $150</p>
        <button>Book</button>
      </div>
    </div>
    <div class="tour-card">
      <img src="https://tour.epesicloud.com/app/storage/uploads/37/1690299646_46_Sands_At_Chale_Diani_Bonfire_Adventures.jpg" alt="Tour 3">
      <div class="tour-info">
        <h3>3 days Diani package</h3>
        <p>Info about Tour 3</p>
        <p>Location: Location 3</p>
        <p>Price: $200</p>
        <button>Book</button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
</div>
