

<div>


<div class="navbar">
  <a href="/admin">&#8592;back</a>
  <h4>Add Tour</h4>
  <!-- Add more navbar items if needed -->
</div>

<form [formGroup]="tourForm" (ngSubmit)="onSubmitTour()">
  <label for="tour_img">Image</label><br>
  <input type="text" id="tour_img" name="tour_img" formControlName="tour_img"><br><br>

  <label for="tourName">Tour Name</label><br>
  <input type="text" id="tourName" name="tourName" formControlName="tourName"><br><br>

  <label for="tourInfo">Tour Info</label><br>
  <input type="text" id="tourInfo" name="tourInfo" formControlName="tourInfo"><br><br>

  <label for="tourLocation">Location</label><br>
  <input type="text" id="tourLocation" name="location" formControlName="location"><br><br>

  <label for="tourLocation">Date</label><br>
  <input type="date" id="tourDate" name="date" formControlName="date"><br><br>

  <label for="tourPrice">Tour Price</label><br>
  <input type="text" id="tourPrice" name="price" formControlName="price"><br><br>

  <label for="tourType">Tour Type</label><br>
  <select id="tourType" name="tourType" formControlName="tourType">
    <option value="Adventure">Adventue</option>
      <option value="Adventure">Adventure</option>
      <option value="Sightseeing">Sightseeing</option>
      <option value="Cultural">Cultural</option>
      <option value="gateways">weekend gateways</option>
  </select><br><br>

  <div class="submit-container">
    <button class="tourBtn"  type="submit"  [disabled]="tourForm.invalid">Add Tour</button>
</div>
</form>

</div>



