
<footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <div class="grid-container">
    <div class="grid-item">
      <div class="logo">
        <h1><span class="compass">X</span>plora</h1>
     
      </div>
    </div>
    <div class="grid-item">
      <h3>Quick Links</h3>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i><a href="/tours">Tours</a></li>
        <li><li><i class="fas fa-info-circle"></i><a href="/about">about</a></li>
        <li><i class="fas fa-info-circle"></i><a href="/contact">contact</a></li>
      </ul>
    </div>
    <div class="grid-item">
      <h3>Contact</h3>
      <p>Email:compgoddygmail.com</p>
      <p>Phone:0700760023</p>
      <p>Location:Kiambu,Capital hill</p>
    </div>
    <div class="grid-item">
      <h3>Social Media</h3>
      <ul>
        <li><i class="fab fa-facebook-f"  style="color: blue;"></i><a href="https://facebook.com">Facebook</a></li>
        <li><i class="fab fa-twitter" style="color: skyblue;" ></i><a href="https://Instagram.com">Instagram</a></li>
        <li><i class="fab fa-instagram"  style="color: #c13584;"></i><a href="https://twitter.com">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
