<div class="container">
  <div class="login-form">
    <h2>Login into your Account</h2>
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" required>

        <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="error-message">
          Email is required.
        </div>
        <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="error-message">
          Invalid email format.
        </div>

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && !loginForm.get('password')?.errors?.['required']">Password must be at least 6 characters long.</div>
        </div>
      </div>
      <div class="form-group">
        <div class="flexcheckbox">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Remember me</label>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="forgot-password">
      <a href="#">Forgot password?</a>

      <div class="login-option">
        <p>Dont have an account register? <a href="/signup">signup</a></p>
      </div>
    </div>
  </div>
  <div class="cool-text">
    <h1>Welcome</h1>
    <h2>the goal of life is living in agreement with nature</h2>
  </div>
</div>
